.swal2-popup {
    font-family: 'Marcellus', serif !important;
}
  
.swal2-confirm{
    background-color: #9B371E !important;
    color: #CDDCE6 !important;
    border: #3A291C 2px solid !important;
    box-shadow: none !important;
}
  
.swal2-confirm:hover{
    color: gold !important;
    box-shadow: none !important;
}
  
.swal2-cancel{
    background-color: #CDDCE6 !important;
    color: black !important;
    border: black 2px solid !important;
    box-shadow: none !important;
}
  
.swal2-cancel:hover{
    background-color: white !important;
    box-shadow: none !important;
}